body {
	padding-left: 50px; padding-right: 50px;
}
#container {
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}
#intro-1 {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#photo {
	width: 100%; height: auto;
	text-align: center;
	align-self: center;
}
#photo img {
	height: 250px;
	width: 250px;
	object-fit: contain;
	border-radius: 50%;
}
#photo p {
	font-size: 2em;
	width: 100%;
	font-family: 'shantanu-bold';
	color: rgb(26, 26, 26);
}
#coming-soon {
	margin: 0 auto;
	width: inherit;
}